
body {
	background: url('https://img.freepik.com/free-vector/white-film-strip-background-with-text-space_1017-26105.jpg?w=1380&t=st=1663546954~exp=1663547554~hmac=bd656988c877746e3cb69d249ce54109672c66a6b4f4f36f9d49e793027aacaa') 50% no-repeat fixed;
	background-size: cover;
	font: 14px/1.4 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

